boot.json
[{"id":"3fe56934.27f37e","type":"tab","label":"Mulher-Maravilha-Telegram","disabled":false,"info":""},{"id":"a587b6f6.47271","type":"debug","z":"3fe56934.27f37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":40,"wires":[]},{"id":"f88dfb18.59d3f","type":"debug","z":"3fe56934.27f37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"de062c9f.86fd7","type":"telegram receiver","z":"3fe56934.27f37e","name":"","bot":"b15a998e.95977","saveDataDir":"","filterCommands":false,"x":90,"y":180,"wires":[["a587b6f6.47271","1b8b1c2c.fb350c"],[]]},{"id":"580564f9.e018b4","type":"debug","z":"3fe56934.27f37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":80,"wires":[]},{"id":"f39f301e.d6e84","type":"telegram sender","z":"3fe56934.27f37e","name":"","bot":"b15a998e.95977","haserroroutput":false,"outputs":1,"x":650,"y":280,"wires":[[]]},{"id":"e46794b8.353ce8","type":"watson-text-to-speech","z":"3fe56934.27f37e","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"YbHQGGcRF8NJnqMBGmyLEPB-9MpgzJkF6fRi8PUdlMDH","payload-response":true,"service-endpoint":"","x":100,"y":380,"wires":[[]]},{"id":"1b8b1c2c.fb350c","type":"function","z":"3fe56934.27f37e","name":"","func":"msg.params = {\n    \"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload= msg.payload.mensagem;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["63408633.f46e68"]]},{"id":"9466dacf.3a0e1","type":"debug","z":"3fe56934.27f37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"63408633.f46e68","type":"watson-assistant-v2","z":"3fe56934.27f37e","name":"","service-endpoint":"","assistant_id":"2d7350f2-7a86-4a71-b649-92993d9aa434","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":470,"y":180,"wires":[["9466dacf.3a0e1","9a5da564.d85ed8","f88dfb18.59d3f"]]},{"id":"9a5da564.d85ed8","type":"function","z":"3fe56934.27f37e","name":"","func":"msg.payload ={\n    chatId: msg.chatId,\n    type:\"photo\",\n    content: msg.payload.output.generic[0].source,\n   \n}\nmsg.payload={\n     chatId: msg.chatId,\n     type:\"message\",\n     content:msg.payload.output.generic[1].text,\n     \n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["f39f301e.d6e84"]]},{"id":"2271970e.5156b8","type":"switch","z":"3fe56934.27f37e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":240,"wires":[["63408633.f46e68"]]},{"id":"b15a998e.95977","type":"telegram bot","botname":"Mulher_Maravilha_boot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]